.maindos{
    .coleccion{
        @include propiedades(center, bold, cursive, rgb(71, 15, 122));
    }
    .h2{
        @include propiedades(center, bold, cursive, rgb(71, 15, 122));
    }
        font-size: $h2;
    }
    .h3{
        font-size: $h3;
    }
    .remeras{
        @include propiedades(center, bold, cursive, rgb(71, 15, 122));
        padding: 15px;
    }
    .remerauno{
    transition: .5s ease 0.05s;
        &:hover{
        transform: scale(1.3);
        }
        h5{
            font-size: $h5;
            text-align: center;
        }
        p{
        text-align: center;
        font-size:25px;      
        }
    }
    .remerados{
    transition: .5s ease 0.05s;
        &:hover{
        transform: scale(1.3);
        }
        h5{
            font-size: $h5;
            text-align: center;
        }
        p{
        text-align: center;
        font-size:25px;      
        }
    }
    .remeratres{
        transition: .5s ease 0.05s;
        &:hover{
        transform: scale(1.3);
        }
        h5{
            font-size: $h5;
            text-align: center;
        }
        p{
        text-align: center;
        font-size:25px;
        }
    }
    .remeracuatro{
        transition: .5s ease 0.05s;
        &:hover{
        transform: scale(1.3);  
        }
        h5{
            font-size: $h5;
            text-align: center;
        }
        p{
        text-align: center;   
        font-size:25px;
        }
    }
    .buzos{
        @include propiedades(center, bold, cursive, rgb(71, 15, 122));
        padding: 15px;
    }
    .buzouno{
        transition: .5s ease 0.05s;
        &:hover{
        transform: scale(1.3);
        }
        h5{
            font-size: $h5;
            text-align: center;
        }
        p{
        text-align: center;   
        font-size: 25px;
        }
    }
    .buzodos{
        transition: .5s ease 0.05s;
        &:hover{
        transform: scale(1.3);
        }
        h5{
            font-size: $h5;
            text-align: center;
        }
        p{
        text-align: center;
        font-size: 25px;  
        }
    }
    .buzotres{
        transition: .5s ease 0.05s;
        &:hover{
        transform: scale(1.3);
        }
        h5{
            font-size: $h5;
            text-align: center;
        }
        p{
        text-align: center;
        font-size: 25px;
        }
    }
    .buzocuatro{
        transition: .5s ease 0.05s;
        &:hover{
        transform: scale(1.3);
        }
        h5{
            font-size: $h5;
            text-align: center;
        }
        p{
        text-align: center;
        font-size: 25px;
        }
    }
    .pantalones{
        @include propiedades(center, bold, cursive, rgb(71, 15, 122));
        padding: 15px;
        margin-top: 15px;
    }
    .pantalonuno{
        transition: .5s ease 0.05s;
        &:hover{
        transform: scale(1.3);
        }
        h5{
            font-size: $h5;
            text-align: center;
        }
        p{
        text-align: center;
        font-size: 25px;
        }
    }
    .pantalondos{
        transition: .5s ease 0.05s;
        &:hover{
        transform: scale(1.3);
        }
        h5{
            font-size: $h5;
            text-align: center;
        }
        p{
        text-align: center;
        font-size: 25px;
        }
    }
    .pantalontres{
        transition: .5s ease 0.05s;
        &:hover{
        transform: scale(1.3);
        }
        h5{
            font-size: $h5;
            text-align: center;
        }
        p{
        text-align: center;
        font-size: 25px;
        }
    }
    .pantaloncuatro{
        transition: .5s ease 0.05s;
        &:hover{
        transform: scale(1.3);
        }
        h5{
            font-size: $h5;
            text-align: center;
        }
        p{
        text-align: center;
        font-size: 25px;
        }
     }
    .botonDolar {
        text-align: center;
    }
    .whasap{
        position: fixed;
        bottom: 10px;
        right: 10px;
        animation-name: whasaptitila;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        text-align: center;
        @keyframes whasaptitila{
            50% { opacity: 0.0; }
            100% { opacity: 1.0; }
        }
        .toast-body{
            color: black;
            font-weight: bold;
            text-decoration: none;
        }
    }
// }